{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <div class="container">
    <div class="row">
      <h3 class="text-center p-4">About Us</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-1">
        <img src="{% static 'images/banner.png' %}" alt="" style="height: 400px;" />
      </div>
      <div class="col-lg-6 p-1">
        <h4>Mission</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam accusamus nisi necessitatibus quia nihil! Officia temporibus corporis corrupti! Consectetur, quas ratione pariatur mollitia officiis quisquam eaque assumenda tempora sequi. Dolorem eum a accusantium perferendis minus officiis aperiam blanditiis qui tempore, facere consequatur labore nulla eligendi ipsam, praesentium expedita aliquid? Similique?</p>
        <h4>Vission</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam accusamus nisi necessitatibus quia nihil! Officia temporibus corporis corrupti! Consectetur, quas ratione pariatur mollitia officiis quisquam eaque assumenda tempora sequi. Dolorem eum a accusantium perferendis minus officiis aperiam blanditiis qui tempore, facere consequatur labore nulla eligendi ipsam, praesentium expedita aliquid? Similique?</p>
      </div>
    </div>
  </div>
{% endblock %}
