{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <h3 class="text-center p-4">Contact Us</h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-1">
        <p>Address:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, nam?</p>
        <p>Contact</p>
        <p>01212455484</p>
      </div>
      <div class="col-lg-6 p-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14752.122703873214!2d91.86181119999999!3d22.4278712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30ad287f4f14739d%3A0xed292c5cda90b159!2sNazumia%20Hat!5e0!3m2!1sen!2sbd!4v1745597602144!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
{% endblock %}
